.modaledit{
        position: absolute;
        top: 40px;
        left: 40px;
        right: 40px;
        bottom: 40px;
        border: 1px solid #ccc;
        background: #fff;
        overflow: auto;
        border-radius: 4px;
        outline: none;
        padding: 20px;
        width: 500px;
        height: 600px;
        margin: auto;
}

@media (max-width: 600px){
    .modaledit{
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 320px;
    }
}